.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 10% */
}

.select {
  padding: 5px 10px;
  font-size: large;
  margin-bottom: 20px;
}